<!-- @{menu=null}
	@if(hasmenu==true){}
	
	@{	menu=null;
		menu=@scope.getmenu();
		}
	} --><!-- fin hasmenu==true -->
	
			@if(menu!=null){<div id="menu" >
			 
			@include('back/menu.html')
			</div> 
		}
			<div id="leftCol" >
				@if(contenttype !=page){
				 
						@if(currentVo!=null){
						
									<div class="ajout">ajoute</div>
									
									@{liste=@scope.getVoList(currentVo)}				
													<ul class="itemslist">
													@for(item in liste){
													<!-- ::foreach item liste:: -->
													<li>
													 <a href="@backpage/choix/@item.id/@currentVo"> 
														<!-- raw --><h>@item.getDefaultField()</h></a></li>
													}
													<!-- ::end:: -->
													</ul>
						}<!-- fin if(currentVo!=null) -->
					}<!-- fin if(contentype!=page) -->
												 
			</div>
		}<!-- fin menu -->