
<div id="centerCol">
<div class="tabbable" >
  <ul class="nav nav-tabs">
    <li @if(lang=="fr"){class="active"}><a href="@linkfr" data-toggle="tab">Fr</a></li>
    <li @if(lang=="en"){class="active"}><a href="@linken" data-toggle="tab">En</a></li>
   
  </ul>
  <div class="tab-content">
    <div id="pane1" class="tab-pane active">
      @tradContent
    </div>
    <div id="pane2" class="tab-pane">
    <h4>Pane 2 Content</h4>
      <p> and so on ...</p>
    </div>
  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->
</div>
<div class="cloud">@tradCloud
</div>
