<!DOCTYPE html>
<html lang="fr">
<head>  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="Content-Language" content="fr" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link rel="icon" type="image/png" href="favicon.png" />

  <title>Association Le Tambour - Ateliers d&rsquo;écriture, spectacles déambulatoires, montages et mise en place de textes</title>

	<link type="text/css" rel="stylesheet" href="/css/reset.css" />
	<link type="text/css" rel="stylesheet" href="/css/fonts.css" />
	<link type="text/css" rel="stylesheet" href="/css/tambour.css" />
	<link rel="stylesheet" href="/js/jQueryTimelinr_094/css/style.css" type="text/css" media="screen" title="no title" />
	<!-- <link type="text/css" rel="stylesheet" href="css/lightbox.css" /> -->
<link rel="stylesheet" href="/js/lightbox/style.css" type="text/css" media="screen" title="no title" charset="utf-8">

  <script type="text/javascript" src="/microbe/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.scrollTo.js"></script>
	<script type="text/javascript" src="/js/jquery.serialScroll.js"></script>
	<script type="text/javascript" src="/js/jquery.nav.js"></script>
	<script type="text/javascript" src="/js/lightbox/jquery.lightbox.js"></script>
	<script src="/js/jQueryTimelinr_094/js/jquery.timelinr-0.9.4.js" type="text/javascript" charset="utf-8"></script>	
</head>
<body>
  <div id="haxe:trace" class="pop" ></div>
	<div id="stupefixe"> 
    <div class="logo"><img src="assets/logo.png" alt="Association Le Tambour" /></div>
    <div class="exerpt">
      <h3>&laquo;&nbsp;Relier la littérature à d&rsquo;autres formes d&rsquo;art&nbsp;&raquo;</h3>
    </div>
    <hr class="underex"/>
    <ul id="nav">
      <li class="currentClass"><a href="#a-venir"><span>0.</span><p>À venir...</p></a></li>
      <li><a href="#ateliers"><span>1.</span><p>Ateliers d&rsquo;écriture</p></a></li>
      <li><a href="#deambulations"><span>2.</span><p>Déambulations littéraires</p></a></li>
      <li><a href="#montages"><span>3.</span><p>Montages et mises en espace de textes</p></a></li> 
      <li><a href="#scenes"><span>4.</span><p>Scènes de la vie végétale</p></a></li>
    </ul>
	</div><!-- /#stupefixe -->
	
	<div id="bando">
		<div id="soubando"><img src="assets/bandeau.png"  alt="" /></div>
	</div>
	
	<div id="content">
    <div id="a-venir" class="section">
	<div class="edito">@edito.contenu</div>
      <div class="contact">
        <img src="assets/contact_03.png" width="178" height="290" alt="Contact 03">
      </div>

      <div class="news">
        <h3 class="venir">A Venir</h3>
        <div class="newsblock">
          @include("blog.html")
    		</div> <!-- /.newsblock -->
      </div> <!-- /.news -->

      <div class="lire">
        <h3 class="venir">À Lire</h3>
        <p class="newsblock">
          Le flipbook de &laquo;&nbsp;Cheminement dans ma ville&nbsp;&raquo;, recueil 
          de textes des ateliers d&rsquo;écriture mis en place avec &laquo;&nbsp;Partage 
          Bordelongue&nbsp;&raquo; de janvier à mars 2011
        </p>
      </div> <!-- /.lire -->
    </div> <!-- /#section-0 -->
    
    <div id="ateliers" class="section">
      <h3>Ateliers d&rsquo;Écriture <span>1.</span></h3>
<div class="pellicule" id="ateliergallery">
      <div class="gallery" >
        
	
	<a href="@link/imageBase/resize/big/atelier_01.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/atelier_01.jpg" alt="" /></a>
	<a href="@link/imageBase/resize/big/atelier_02.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/atelier_02.jpg" alt="" /></a>
	<a href="@link/imageBase/resize/big/atelier_03.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/atelier_03.jpg" alt="" /></a>
	<a href="@link/imageBase/resize/big/atelier_04.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/atelier_04.jpg" alt="" /></a>
	<a href="@link/imageBase/resize/big/atelier_05.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/atelier_05.jpg" alt="" /></a>
	<a href="@link/imageBase/resize/big/atelier_06.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/atelier_06.jpg" alt="" /></a>
	<a href="@link/imageBase/resize/big/atelier_07.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/atelier_07.jpg" alt="" /></a>
	<a href="@link/imageBase/resize/big/atelier_08.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/atelier_08.jpg" alt="" /></a>
	<a href="@link/imageBase/resize/big/atelier_09.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/atelier_09.jpg" alt="" /></a>
	<a href="@link/imageBase/resize/big/atelier_10.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/atelier_10.jpg" alt="" /></a>
	<a href="@link/imageBase/resize/big/atelier_11.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/atelier_11.jpg" alt="" /></a>
	<a href="@link/imageBase/resize/big/atelier_12.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/atelier_12.jpg" alt="" /></a>
	<a href="@link/imageBase/resize/big/atelier_13.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/atelier_13.jpg" alt="" /></a>
	<a href="@link/imageBase/resize/big/atelier_14.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/atelier_14.jpg" alt="" /></a>
	
	
       
      </div> <!-- /#gallery -->
 </div> <!-- /#pellicule -->
      <div class="corpus"><p>Notre désir est de créer et d&rsquo;offrir des textes intimes, tel un chuchotement 
        dans l&rsquo;oreille, afin d&rsquo;installer un lien pudique entre celui qui écrit et 
        celui qui reçoit. Chaque participant est invité à écrire à partir de ses 
        propres sensations. Il partage et révèle avec les autres des expériences 
        réelles ou imaginaires qu&rsquo;il prend soin de raconter avec ses propres mots.</p>
      <p>Les ateliers jettent un pont entre les écritures d&rsquo;auteurs et les écritures 
        personnelles; ces suggestions d&rsquo;auteurs viennent enrichir leur imaginaire 
        et résonner avec leur propre écriture.</p>
      <p>Certains ateliers peuvent donner lieu à des lectures publiques&nbsp;: les 
        participants qui le désirent viennent lire leur texte et ceux des auteurs. 
        Nous recherchons toujours des formes de lectures qui favorisent l&rsquo;intimité 
        et invitent à la circulation.</p></div>
      <div class="aside">
        <p>Interventions en milieu scolaire&nbsp;:<br />
          Maternelles, primaires et collèges de l&rsquo;agglomération
          de Toulouse
        </p>
        <p>Interventions auprès de structures associatives, bibliothèques,
          médiathèques, festivals, centres sociaux, centres culturels, théâtres
        </p>
        <p>Publics&nbsp;: petite enfance, adolescents, adultes, adultes en alphabétisation,
          personnes en situation d&rsquo;illettrisme, séniors
        </p>
      </div> <!-- /.aside -->
    </div> <!-- /#section-1 -->
  
    <div id="deambulations" class="section">
      <div class="corpus"><h3>Déambulations littéraires <span>2.</span></h3>
	<div class="pellicule">
	<div class="gallery" id="deambulationgallery">
		
			<a href="@link/imageBase/resize/big/deambulation_01.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/deambulation_01.jpg" alt="" /></a>
			<a href="@link/imageBase/resize/big/deambulation_02.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/deambulation_02.jpg" alt="" /></a>
			<a href="@link/imageBase/resize/big/deambulation_03.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/deambulation_03.jpg" alt="" /></a>
			<a href="@link/imageBase/resize/big/deambulation_04.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/deambulation_04.jpg" alt="" /></a>
			<a href="@link/imageBase/resize/big/deambulation_05.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/deambulation_05.jpg" alt="" /></a>
			<a href="@link/imageBase/resize/big/deambulation_06.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/deambulation_06.jpg" alt="" /></a>
			<a href="@link/imageBase/resize/big/deambulation_07.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/deambulation_07.jpg" alt="" /></a>
			<a href="@link/imageBase/resize/big/deambulation_08.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/deambulation_08.jpg" alt="" /></a>
			<a href="@link/imageBase/resize/big/deambulation_09.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/deambulation_09.jpg" alt="" /></a>
		</div>
	</div>
	
      <p>Nous proposons des formes théâtrales en extérieur et intérieur où les textes, 
        les voix des habitants et des visiteurs viennent s&rsquo;entremêler. Pour ce faire 
        nous utilisons des espaces intimistes et adressons ces montages à de petits 
        groupes. Ces formes &laquo; dramatiques &raquo; et déambulatoires sont constituées d&rsquo;arrêts 
        dans les espaces du quotidien (parking, abris-bus, banc public, trottoir, 
        horodateur, poteau électrique, magasin&hellip;) ou à l&rsquo;intérieur d&rsquo;espaces publics. 
        Notre démarche est placée sous le signe de l&rsquo;improvisation et de la malice 
        &laquo; innocente &raquo;&nbsp;: tout ce qui surgit est intégré à la lecture ou au spectacle 
        (voix, son, geste, intervention impromptue&hellip;).</p>
      <p><strong>Les commandes publiques</strong><br />
        Nous répondons à des commandes publiques en mettant en œuvre des montages 
        de textes qui prendront la forme de lectures publiques ou de spectacles, 
        en extérieur ou intérieur, adressées à tout type de public. L&rsquo;association 
        propose de jeter un pont entre des auteurs très disparates, contemporains 
        et anciens. Ce travail de construction littéraire reposant sur la cohabitation 
        de textes hétéroclites apporte différentes tonalités&nbsp;: tour à tour décalés, 
        provocants, drôles ou lucides, ces textes promènent le spectateur dans des 
        directions parfois déroutantes et l&rsquo;invitent au questionnement et à 
        la rêverie autour de la thématique proposée.</p></div>
      <div class="aside">
        <h4>QUELQUES DATES</h4>
        <p>Pour la lecture musicale et déambulatoire autour de la contemplation&nbsp;: 
          Mars 2008, Jardins de Venerque (31), Mars 2008, Parcours dans la médiathèque 
          St Exupéry, Toulouse, Juin 2009, Déambulation dans la ville de Tournefeuille, 
          Octobre 2009, Festival La Novela, Jardin du Museum de Toulouse, Mai 2010, 
          Parc Monlong, Toulouse, Mars 2011, Déambulation dans les jardins familiaux de 
          St Lys, avril 2011, Déambulation dans le quartier Bellefontaine à Toulouse</p>
        <p>Pour les commandes publiques&nbsp;:
          Depuis 2004, Lectures mises en &oelig;uvre dans le cadre de &laquo;&nbsp;Lire 
          en fête&nbsp;&raquo; et du &laquo;&nbsp;Printemps des poètes&nbsp;&raquo; 
          pour la médiathèque de Toulouse, de Villeneuve Tolosane, de Balma, de 
          Ramonville, Tournefeuille, de Venerque&hellip;<br />
          Depuis 2009, Spectacle en milieu scolaire, montage de textes autour du 
          Tramway, commande de la société de transport toulousain &laquo;&nbsp;Tisséo&nbsp;&raquo;
          et de l&rsquo;inspection académique.</p>
      </div> <!-- /.aside -->
    </div> <!-- /#section-2 -->
    
    <div id="montages" class="section">
      <div class="corpus"><h3>Montages et mise en espace de textes <span>3.</span></h3>
      <p>QUELQUES EXEMPLES DE MISE EN ESPACE</p>
      <p>Décembre 2006, Ramonville, dans le cadre des 20
        ans de la médiathèque Simone de Beauvoir, mise en espace de
        textes sur polyane, thématique autour de &laquo;&nbsp;Jubilation dans l&rsquo;écriture
        et Nécessité d&rsquo;écrire&nbsp;&raquo; (Blaise Pascal, Marguerite
        Duras, Roland Barthes, Georges Perros, Bernard Noël, René Char,
        Christophe Tarkos)</p>
      <p>Avril 2009, Quartier Empalot, mise en espace de textes
        dans l&rsquo;espace public sur kraft, thématique autour de &laquo;&nbsp;la Nature
        dans la Ville&nbsp;&raquo; (Rodrigo Garcia, Emile Verhaeren, Walt whitman, Valère
        Novarina, Haïkus de Basho et textes issus d&rsquo;ateliers d&rsquo;écriture
        sur le quartier Empalot)</p>
      <p>Octobre 2009, Ramonville, médiathèque Simone
        de Beauvoir dans le cadre de la manifestation &laquo;&nbsp;Les mondes insolites&nbsp;&raquo;,
        mise en espace sonore de textes (Henri Michaux, François Rabelais,
        Lewis Caroll et Claude Ponti)</p>
      <p>Octobre 2009, Festival &laquo;&nbsp;La Novela&nbsp;&raquo;, mise en
        espace sonore de textes et manuscrit sur ardoise, Université Paul Sabatier,
        Toulouse, thématique &laquo;&nbsp;la Science&nbsp;: Botanique et Contemplation&nbsp;&raquo;
        (Lucrèce, Giuseppe Penone, André Gide, Walt whitman, Derek Jarman,
        Valère Novarina&hellip;)
      </p></div>
      <div class="aside">
        <p>Depuis quelques années, dans le cadre de manifestations nationales <br />
          ou locales, l&rsquo;association<br />
          Le Tambour répond à des commandes en mettant en œuvre des
          montages de textes sur des thématiques précises.<br />
          Elle installe in situ en intérieur ou extérieur les supports
          de ces montages (support audio ou écrit).<br />
          Au fil de sa déambulation,<br />
          le visiteur pourra ainsi découvrir des instants de murmures et des
          espaces de textes écrits.<br />
          Le but est de faire surgir des instants de poésie en transformant son
          espace quotidien.</p>
      </div> <!-- /.aside -->
    </div> <!-- /#section-3 -->

    <div id="scenes" class="section">
      <h3>Scènes de la vie végétale <span>4.</span></h3>
<div class="pellicule">
<div class="gallery" id ="vegetalgallery">
	
		<a href="@link/imageBase/resize/big/vegetal_01.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_01.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_02.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_02.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_03.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_03.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_04.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_04.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_05.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_05.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_06.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_06.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_07.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_07.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_08.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_08.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_09.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_09.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_10.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_10.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_11.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_11.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_12.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_12.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_13.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_13.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_14.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_14.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_15.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_15.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_16.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_16.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_17.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_17.jpg" alt="" /></a>
		<a href="@link/imageBase/resize/big/vegetal_18.jpg" class="lightbox"><img src="@link/imageBase/resize/gallery/vegetal_18.jpg" alt="" /></a>
	</div>
</div>


      <h4>EN PARTENARIAT AVEC L&rsquo;ASSOCIATION TROMBONE</h4>
      <p>Les associations le Tambour et Trombone
        sont engagées depuis 2006 autour de thématiques liées
        à l&rsquo;environnement naturel. Nos propositions plastiques, végétales
        et littéraires convoquent la nature et ses transformations insolites
        au sein même des espaces urbains. Par ailleurs, nous créons des
        temps de rencontre, de réflexion et d&rsquo;expression autour du végétal
        afin de mettre en avant sa richesse esthétique et poétique.
        Les réalisations se côtoient, résonnent entre elles, favorisant
        le lien social et culturel et fédérant des publics autour d&rsquo;espaces
        naturels.
      </p>
      <h4>L&rsquo;EXPOSITION &laquo;&nbsp;Scènes de la vie végétale&nbsp;&raquo;</h4>
      <p>Ce projet, qui relie arts plastiques, végétaux
        et littérature, raconte et sollicite la présence discrète
        de l&rsquo;homme vis-à-vis de son environnement naturel. Au gré
        de petits chemins de terre, de parcours sonores, le visiteur se sent naturellement
        porté vers la méditation et l&rsquo;écoute. Des dispositifs
        sonores se faufilent à l&rsquo;intérieur de ces installations
        végétales et plastiques.
      </p>
      <h4>LES INSTALLATIONS VÉGÉTALES ET ÉPHÉMÉRES EN MILIEU URBAIN</h4>
      <p>Les installations végétales sont pour nous des traversées
        poétiques, des traces des lieux qui nous ont inspirés&nbsp;: des
        objets laissés à l&rsquo;abandon, récupérés
        et ensuite végétalisés, et tout objet incarnant l&rsquo;esprit
        des lieux urbains à occuper. Des textes et des dispositifs sonores
        parcourent, tels des murmures et des empreintes, ces installations végétales.
      </p>
      <h4>LES ATELIERS D&rsquo;EXPRESSION ARTISTIQUE</h4>
      <p>Nous invitons les participants à s&rsquo;approprier des milieux naturels
        d&rsquo;une manière poétique et expressive, de venir y créer
        des espaces de rêverie, d&rsquo;inventer des histoires, de créer
        des images, de déposer leur empreinte sensible. Nous proposons aux
        habitants, aux participants, de se placer dans des dispositions d&rsquo;observation,
        de collecte de sensations qu&rsquo;ils mettront ensuite en mots et en image.
      </p>
    </div> <!-- /#section-4 -->
    
	</div> <!-- /#content -->
  <script type="text/javascript" src="/js/tambour.js"></script>
</body>

</html>
