.microtrace {
	z-index : 10;
	position : absolute;
	width : 250px;
	color : #cc3300;
	font-size : 10px;
	font-family : "monaco";
}
.microfieldTrace {
	position : absolute;
	width : 250px;
	color : #22990E;
	font-size : 10px;
	font-family : "monaco";
}
#global {
	position : absolute;
	width : 100%;
}
#menu {
	width : 600px;
	margin : 0px auto;
	margin-bottom : 50px;
	overflow : auto;
}
#menu .menuitem {
	position : relative;
	float : left;
	background-color : black;
	margin-right : 2px;
	margin-bottom : 2px;
	color : #fff;
	width : 140px;
	height : 140px;
}
#menu .menuitem h {
	position : absolute;
	color : white;
	font-family : "HelveticaNeueLTStd45Light";
	font-weight : 100;
	text-indent : 10px;
	bottom : 10px;
}
#menu .menuitem:hover {
	background-color : #00aaff;
}
#menu .menuitem a {
	color : #fff;
}
#menu .menuitem a:hover {
	color : #ccc;
}
#contenu {
	width : 600px;
	margin : 0px auto;
}
#leftCol {
	position : absolute;
	left : 0;
}
#leftCol .ajout {
	display : inline-block;
	zoom : 1;
	*display : inline;
	background-color : black;
	color : white;
	padding-left : 5px;
	padding-right : 5px;
	line-height : 28px;
	font-size : 16px;
	height : 28px;
	font-family : "BreeLight";
	font-weight : 100;
	font-size : 16px;
	font-family : "HelveticaNeueLTStd45Light";
	font-weight : 100;
	width : 150px;
	text-indent : 24px;
	margin-bottom : 30px;
}
#leftCol .ajout:hover {
	background-color : #0AF;
	cursor : hand;
}
#leftCol .itemslist {
	margin-left : 24px;
	font-family : "BreeLight";
	font-weight : 100;
	font-size : 16px;
}
#leftCol .itemslist li {
	margin-bottom : 5px;
	width : 100px;
	height : 50px;
	border-bottom : 1px solid black;
}
#leftCol .itemslist li h {
	color : black;
	line-height : 16px;
}
#leftCol .itemslist li:active {
	position : relative;
	background-color : #00aaff;
}
#leftCol .itemslist li:hover {
	position : relative;
	background-color : #00aaff;
}
#leftCol .itemslist li:hover h {
	position : absolute;
	bottom : 2px;
	color : white;
}
#centerCol {
	background-color : #F3F3F3;
	float : left;
}
